<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/baseline_security_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_security_24"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.WhiteBackground"
        tools:targetApi="31">
        <activity
            android:name=".loginup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".loginup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Announcements.AnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".Announcements.AnnouncementFormActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Fragments.FireFragment"
            android:exported="false" />
        <activity
            android:name=".Fragments.SecurityFragment"
            android:exported="true" />
        <activity
            android:name=".Fragments.MedicFragment"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare AnnouncementService -->
        <service
            android:name=".Announcements.AnnouncementService"
            android:enabled="true"
            android:exported="false" />

        <!-- Remove the Firebase Messaging Service if not in use -->
        <!--
        <service
            android:name=".Announcements.MyFirebaseMessagingService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        -->

        <!-- Declare the AnnouncementReceiver if needed for broadcast intents -->

    </application>

</manifest>
